AVIATION_DATA_API = "khsamaha/aviation-accident-database-synopses"
KAGGLE_DATASET_DOWNLOAD_PATH = "data/raw/zipped"
KAGGLE_DATASET_ZIPPED_FILENAME = (
    KAGGLE_DATASET_DOWNLOAD_PATH + "/aviation-accident-database-synopses.zip"
)
KAGGLE_DATASET_EXTRACT_PATH = "data/raw/extracted"
KAGGLE_DATASET_EXTRACTED_FILENAME = KAGGLE_DATASET_EXTRACT_PATH + "/AviationData.csv"

AIRLABS_API_KEY = "REPLACE THIS WITH KEY..."
WEATHERBIT_API_KEY = "REPLACE THIS WITH KEY..."

INTERIM_DIRECTORY = "data/interim/AviationData_preprocessed.csv"
PROCESSED_DIRECTORY = "data/processed/"
LOGGER_FILENAME = "logger.log"
